.form-container {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
}
.form-container__heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4em;
}
.form-container__para {
  font-size: 2em;
}
@media only screen and (max-width: 1000px) {
  .form-container__heading {
    font-size: 3em;
  }
  .form-container__para {
    font-size: 2em;
  }
}
@media only screen and (max-width: 450px) {
  .form-container__heading {
    font-size: 2em;
    text-align: center;
  }
  .form-container__para {
    font-size: 1em;
    text-align: center;
  }
}

.form {
  font-size: 2em;
}
.form__input {
  font-size: 1.5em;
}
.form__button {
  font-size: 1.5em;
}
@media only screen and (max-width: 1000px) {
  .form {
    font-size: 1.5em;
  }
  .form__input {
    font-size: 1.2em;
  }
  .form__button {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 450px) {
  .form {
    font-size: 1em;
  }
  .form__input {
    font-size: 1em;
  }
  .form__button {
    font-size: 1em;
  }
}

.card {
  display: flex;
  border: 2px solid rgb(255, 230, 0);
  text-align: center;
  height: 300px;
  background-color: aliceblue;
}
.card img {
  object-fit: cover;
  height: 300px;
  max-width: 210px;
}
@media only screen and (max-width: 450px) {
  .card img {
    display: none;
  }
}
.card__imgTitle {
  display: flex;
  flex-direction: column;
}
.card__title {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  margin-top: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card__authors {
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  margin: 10px;
  grid-column-start: 2;
  overflow: hidden;
}
.card__description {
  color: blue;
  padding: 0px 15px;
  margin-top: auto;
  font-size: 1.4em;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 2000px) {
  .card {
    font-size: 0.9em;
  }
}

.testcard {
  display: flex;
  border: 2px solid rgb(255, 230, 0);
  text-align: center;
  width: 600px;
  height: 300px;
  background-color: aliceblue;
}
.testcard img {
  object-fit: cover;
  height: 300px;
}
.testcard__imgTitle {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.testcard__title {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  margin-top: auto;
}
.testcard__authors {
  font-size: 1.7em;
  font-weight: normal;
  font-style: italic;
  margin: 0;
  padding: 10px;
  grid-column-start: 2;
}
.testcard__description {
  color: blue;
  background-color: aliceblue;
  padding: 0px 15px;
  margin-top: auto;
  font-size: 1.4em;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#page-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Courier New", Courier, monospace;
  gap: 30px;
  align-items: center;
}
@media only screen and (max-width: 2000px) {
  #page-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1500px) {
  #page-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1000px) {
  #page-container {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
