.card {
  border: 2px solid rgb(255, 230, 0);
  text-align: center;
  // height: 600px;
  width: 600px;
  &__imgTitle {
    display: grid;
    grid-template-columns: 200px, 1fr;
    font-size: 1.2em;
    & img {
      grid-row-end: span 2;
      width: 200px;
    }
  }
  &__title {
    font-size: 1.7em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    grid-column-start: 2;
  }
  &__authors {
    font-size: 1.7em;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 0;
    grid-column-start: 2;
  }
  &__description {
    color: blue;
    font-size: 2em;
    background-color: aliceblue;
    padding: 0px 40px;
    text-align: center;
    // how to Truncating Multiple Line Text
    //https://css-tricks.com/line-clampin/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
