.form-container {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;

  &__heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 4em;
  }
  &__para {
    font-size: 2em;
  }
}

.form {
  font-size: 2em;
  &__input {
    font-size: 1.5em;
  }
  &__button {
    font-size: 1.5em;
  }
}
