#page-container {
  display: grid;
  grid-template-columns: repeat((4, 1fr));
}
.card {
  border: 2px solid blue;
  &__imgTitle {
    display: grid;
    grid-template-columns: 200px, 1fr;
    & img {
      grid-row-end: span 2;
    }
    & p {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      font-weight: bold;
      grid-column-start: 2;

      & + p {
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  & > p {
    color: blue;

    // how to Truncating Multiple Line Text
    //https://css-tricks.com/line-clampin/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.form {
  grid-column: 1 / span 2;
}
